<mat-toolbar class="barra" color="primary">
  <h1>Vehiculos registrados</h1>
</mat-toolbar>  
<div class="wrapper">

  <div class="moto" >
    <img
    class="hola"
    src="http://crustier-twists.000webhostapp.com/ImgMensajeria/moto.png" alt="MDN"
    width="250"
    height="140"

    >
    <p>Moto (1)</p>
  </div>

  <div  class="furgoneta">
    <img
      class="hola"
      src="http://crustier-twists.000webhostapp.com/ImgMensajeria/furgoneta.png"
      alt="MDN"
      width="250"
      height="140"
      >
      <p>Furgoneta (4)</p>
  </div>

  <div class="avion">
      <img
      class="hola"
      src="http://crustier-twists.000webhostapp.com/ImgMensajeria/avion.png"
      alt="MDN"
      width="250"
      height="140"
      >
      <p>Avión (2)</p>
  </div>

</div>
